<p id="notice"><%= notice %></p>

<p>
  <strong>Phone number:</strong>
  <%= @reup.phone_number %>
</p>

<p>
  <strong>Twentyfive plan:</strong>
  <%= @reup.twentyfive_plan %>
</p>

<p>
  <strong>Fourty plan:</strong>
  <%= @reup.fourty_plan %>
</p>

<p>
  <strong>Fifty plan:</strong>
  <%= @reup.fifty_plan %>
</p>

<p>
  <strong>Sixty plan:</strong>
  <%= @reup.sixty_plan %>
</p>

<p>
  <strong>Seventy plan:</strong>
  <%= @reup.seventy_plan %>
</p>

<p>
  <strong>Change plan:</strong>
  <%= @reup.change_plan %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @reup.admin_id %>
</p>

<p>
  <strong>Wallet:</strong>
  <%= @reup.wallet_id %>
</p>

<%= link_to 'Edit', edit_reup_path(@reup) %> |
<%= link_to 'Back', reups_path %>
