<p id="notice"><%= notice %></p>

<p>
  <strong>Sim number:</strong>
  <%= @ultra_activation.sim_number %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @ultra_activation.zip_code %>
</p>

<p>
  <strong>Ninteen plan:</strong>
  <%= @ultra_activation.ninteen_plan %>
</p>

<p>
  <strong>Twentynine plan:</strong>
  <%= @ultra_activation.twentynine_plan %>
</p>

<p>
  <strong>Tirtynine plan:</strong>
  <%= @ultra_activation.tirtynine_plan %>
</p>

<p>
  <strong>Fortynine plan:</strong>
  <%= @ultra_activation.fortynine_plan %>
</p>

<p>
  <strong>Fiftynine plan:</strong>
  <%= @ultra_activation.fiftynine_plan %>
</p>

<p>
  <strong>First name:</strong>
  <%= @ultra_activation.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @ultra_activation.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ultra_activation.email %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @ultra_activation.admin_id %>
</p>

<p>
  <strong>Wallet:</strong>
  <%= @ultra_activation.wallet_id %>
</p>

<%= link_to 'Edit', edit_ultra_activation_path(@ultra_activation) %> |
<%= link_to 'Back', ultra_activations_path %>
