<p id="notice"><%= notice %></p>

<p>
  <strong>Sim number:</strong>
  <%= @simple_portin.sim_number %>
</p>

<p>
  <strong>Existing phone:</strong>
  <%= @simple_portin.existing_phone %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @simple_portin.zip_code %>
</p>

<p>
  <strong>Current service provider:</strong>
  <%= @simple_portin.current_service_provider %>
</p>

<p>
  <strong>Old account number:</strong>
  <%= @simple_portin.old_account_number %>
</p>

<p>
  <strong>Old account password:</strong>
  <%= @simple_portin.old_account_password %>
</p>

<p>
  <strong>First name:</strong>
  <%= @simple_portin.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @simple_portin.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @simple_portin.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @simple_portin.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @simple_portin.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @simple_portin.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @simple_portin.zip_code %>
</p>

<p>
  <strong>Twentyfive plan:</strong>
  <%= @simple_portin.twentyfive_plan %>
</p>

<p>
  <strong>Fourty plan:</strong>
  <%= @simple_portin.fourty_plan %>
</p>

<p>
  <strong>Fifty plan:</strong>
  <%= @simple_portin.fifty_plan %>
</p>

<p>
  <strong>Sixty plan:</strong>
  <%= @simple_portin.sixty_plan %>
</p>

<p>
  <strong>Seventy plan:</strong>
  <%= @simple_portin.seventy_plan %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @simple_portin.admin_id %>
</p>

<p>
  <strong>Wallet:</strong>
  <%= @simple_portin.wallet_id %>
</p>

<%= link_to 'Edit', edit_simple_portin_path(@simple_portin) %> |
<%= link_to 'Back', simple_portins_path %>
