<p id="notice"><%= notice %></p>

<p>
  <strong>Phone number:</strong>
  <%= @ultra_reup.phone_number %>
</p>

<p>
  <strong>Nineteen plan:</strong>
  <%= @ultra_reup.nineteen_plan %>
</p>

<p>
  <strong>Twentynine plan:</strong>
  <%= @ultra_reup.twentynine_plan %>
</p>

<p>
  <strong>Thirtynine plan:</strong>
  <%= @ultra_reup.thirtynine_plan %>
</p>

<p>
  <strong>Fourtynine plan:</strong>
  <%= @ultra_reup.fourtynine_plan %>
</p>

<p>
  <strong>Fiftynine plan:</strong>
  <%= @ultra_reup.fiftynine_plan %>
</p>

<p>
  <strong>Other amount:</strong>
  <%= @ultra_reup.other_amount %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @ultra_reup.amount %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @ultra_reup.admin_id %>
</p>

<p>
  <strong>Wallet:</strong>
  <%= @ultra_reup.wallet_id %>
</p>

<%= link_to 'Edit', edit_ultra_reup_path(@ultra_reup) %> |
<%= link_to 'Back', ultra_reups_path %>
