<p id="notice"><%= notice %></p>

<p>
  <strong>Balance:</strong>
  <%= @wallet.balance %>
</p>

<p>
  <strong>Refunds:</strong>
  <%= @wallet.refunds %>
</p>

<p>
  <strong>Income from activations:</strong>
  <%= @wallet.income_from_activations %>
</p>

<p>
  <strong>Income from reup:</strong>
  <%= @wallet.income_from_reup %>
</p>

<p>
  <strong>Income from international recharge:</strong>
  <%= @wallet.income_from_international_recharge %>
</p>

<p>
  <strong>Unlocking:</strong>
  <%= @wallet.unlocking %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @wallet.admin_id %>
</p>

<p>
  <strong>Ptel activation:</strong>
  <%= @wallet.ptel_activation_id %>
</p>

<p>
  <strong>Ptel portin:</strong>
  <%= @wallet.ptel_portin_id %>
</p>

<p>
  <strong>Ptel reup:</strong>
  <%= @wallet.ptel_reup_id %>
</p>

<p>
  <strong>Ultra activation:</strong>
  <%= @wallet.ultra_activation_id %>
</p>

<p>
  <strong>Ultra portin:</strong>
  <%= @wallet.ultra_portin_id %>
</p>

<p>
  <strong>Ultra reup:</strong>
  <%= @wallet.ultra_reup_id %>
</p>

<p>
  <strong>Simple activation:</strong>
  <%= @wallet.simple_activation_id %>
</p>

<p>
  <strong>Simple portin:</strong>
  <%= @wallet.simple_portin_id %>
</p>

<p>
  <strong>Simple reup:</strong>
  <%= @wallet.simple_reup_id %>
</p>

<p>
  <strong>Lyca activation:</strong>
  <%= @wallet.lyca_activation_id %>
</p>

<p>
  <strong>Lyca portin:</strong>
  <%= @wallet.lyca_portin_id %>
</p>

<p>
  <strong>Lyca reup:</strong>
  <%= @wallet.lyca_reup_id %>
</p>

<p>
  <strong>H20 activation:</strong>
  <%= @wallet.h20_activation_id %>
</p>

<p>
  <strong>H20 portin:</strong>
  <%= @wallet.h20_portin_id %>
</p>

<p>
  <strong>H20 reup:</strong>
  <%= @wallet.h20_reup_id %>
</p>

<p>
  <strong>Tmobile activation:</strong>
  <%= @wallet.tmobile_activation_id %>
</p>

<p>
  <strong>Tmobile portin:</strong>
  <%= @wallet.tmobile_portin_id %>
</p>

<p>
  <strong>Tmobile reup:</strong>
  <%= @wallet.tmobile_reup_id %>
</p>

<p>
  <strong>Unlocking:</strong>
  <%= @wallet.unlocking_id %>
</p>

<%= link_to 'Edit', edit_wallet_path(@wallet) %> |
<%= link_to 'Back', wallets_path %>
