<p id="notice"><%= notice %></p>

<p>
  <strong>Existing number:</strong>
  <%= @ptel_portin.existing_number %>
</p>

<p>
  <strong>First name:</strong>
  <%= @ptel_portin.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @ptel_portin.last_name %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @ptel_portin.contact_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @ptel_portin.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @ptel_portin.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @ptel_portin.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @ptel_portin.zip_code %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ptel_portin.email %>
</p>

<p>
  <strong>Old service provider:</strong>
  <%= @ptel_portin.old_service_provider %>
</p>

<p>
  <strong>Old account:</strong>
  <%= @ptel_portin.old_account_id %>
</p>

<p>
  <strong>Old account password:</strong>
  <%= @ptel_portin.old_account_password %>
</p>

<p>
  <strong>Fourtyplan:</strong>
  <%= @ptel_portin.fourtyplan %>
</p>

<p>
  <strong>Fiftyplan:</strong>
  <%= @ptel_portin.fiftyplan %>
</p>

<p>
  <strong>Real paygo:</strong>
  <%= @ptel_portin.real_paygo %>
</p>

<p>
  <strong>Paygo amount:</strong>
  <%= @ptel_portin.paygo_amount %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @ptel_portin.comments %>
</p>

<p>
  <strong>Wallet:</strong>
  <%= @ptel_portin.wallet_id %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @ptel_portin.admin_id %>
</p>

<%= link_to 'Edit', edit_ptel_portin_path(@ptel_portin) %> |
<%= link_to 'Back', ptel_portins_path %>
