<p id="notice"><%= notice %></p>

<p>
  <strong>Sim number:</strong>
  <%= @ultra_portin.sim_number %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @ultra_portin.zip_code %>
</p>

<p>
  <strong>Ninteen plan:</strong>
  <%= @ultra_portin.ninteen_plan %>
</p>

<p>
  <strong>Twentynine plan:</strong>
  <%= @ultra_portin.twentynine_plan %>
</p>

<p>
  <strong>Tirtynine plan:</strong>
  <%= @ultra_portin.tirtynine_plan %>
</p>

<p>
  <strong>Fortynine plan:</strong>
  <%= @ultra_portin.fortynine_plan %>
</p>

<p>
  <strong>Fiftynine plan:</strong>
  <%= @ultra_portin.fiftynine_plan %>
</p>

<p>
  <strong>First name:</strong>
  <%= @ultra_portin.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @ultra_portin.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ultra_portin.email %>
</p>

<p>
  <strong>Old number:</strong>
  <%= @ultra_portin.old_number %>
</p>

<p>
  <strong>Account no:</strong>
  <%= @ultra_portin.account_no %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @ultra_portin.zip_code %>
</p>

<p>
  <strong>Old password:</strong>
  <%= @ultra_portin.old_password %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @ultra_portin.admin_id %>
</p>

<p>
  <strong>Wallet:</strong>
  <%= @ultra_portin.wallet_id %>
</p>

<%= link_to 'Edit', edit_ultra_portin_path(@ultra_portin) %> |
<%= link_to 'Back', ultra_portins_path %>
