<p id="notice"><%= notice %></p>

<p>
  <strong>Sim number:</strong>
  <%= @simple_activation.sim_number %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @simple_activation.zip_code %>
</p>

<p>
  <strong>Twentyfive plan:</strong>
  <%= @simple_activation.twentyfive_plan %>
</p>

<p>
  <strong>Fourty plan:</strong>
  <%= @simple_activation.fourty_plan %>
</p>

<p>
  <strong>Fifty plan:</strong>
  <%= @simple_activation.fifty_plan %>
</p>

<p>
  <strong>Sixty plan:</strong>
  <%= @simple_activation.sixty_plan %>
</p>

<p>
  <strong>Ild:</strong>
  <%= @simple_activation.ild %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @simple_activation.admin_id %>
</p>

<p>
  <strong>Wallet:</strong>
  <%= @simple_activation.wallet_id %>
</p>

<%= link_to 'Edit', edit_simple_activation_path(@simple_activation) %> |
<%= link_to 'Back', simple_activations_path %>
