<%= form_for(@ptel_activation) do |f| %>
  <% if @ptel_activation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ptel_activation.errors.count, "error") %> prohibited this ptel_activation from being saved:</h2>

      <ul>
      <% @ptel_activation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form class="form-horizontal">
  <div class="fieldset">
    <%= f.label :sim_number %><br>
    <%= f.text_field :sim_number %>
  </div>
  <div class="fieldset">
    <%= f.label :zip_code %><br>
    <%= f.text_field :zip_code %>
  </div>
  <div class="fieldset">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="fieldset">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="control-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="fieldset">
    <%= f.label :contact_number %><br>
    <%= f.text_field :contact_number %>
  </div>
  <div class="fieldset">
    <%= f.label :forty %><br>
    <%= f.check_box :fourty_plan %>
  </div>
  <div class="fieldset">
    <%= f.label :fifty_plan %><br>
    <%= f.check_box :fifty_plan %>
  </div>
  <div class="fieldset">
    <%= f.label :real_paygo %><br>
    <%= f.check_box :real_paygo %>
  </div>
  <div class="fieldset">
    <%= f.label :paygo_amount %><br>
    <%= f.number_field :paygo_amount %>
  </div>
 
  <div class="actions">
   <%= f.submit 'Activate', :class=>'btn btn-primary' %>
   </form> 
  </div>
<% end %>
