<h1>YOUR PTEL ACTIVATIONS</h1>
<%= link_to 'New Ptel activation', new_ptel_activation_path, {:class=> "btn btn-success", :type => "button"} %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Sim number</th>
      <th>Zip code</th>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
      
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ptel_activations.each do |ptel_activation| %>
      <tr>
        <td><%= ptel_activation.sim_number %></td>
        <td><%= ptel_activation.zip_code %></td>
        <td><%= ptel_activation.email %></td>
        <td><%= ptel_activation.first_name %></td>
        <td><%= ptel_activation.last_name %></td>
       
        <td><%= link_to 'Show', ptel_activation %></td>
        <td><%= link_to 'Edit', edit_ptel_activation_path(ptel_activation) %></td>
        <td><%= link_to 'Destroy', ptel_activation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


