<p id="notice"><%= notice %></p>

<p>
  <strong>Sim number:</strong>
  <%= @ptel_activation.sim_number %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @ptel_activation.zip_code %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ptel_activation.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @ptel_activation.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @ptel_activation.last_name %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @ptel_activation.contact_number %>
</p>

<p>
  <strong>Fourty plan:</strong>
  <%= @ptel_activation.fourty_plan %>
</p>

<p>
  <strong>Fifty plan:</strong>
  <%= @ptel_activation.fifty_plan %>
</p>

<p>
  <strong>Real paygo:</strong>
  <%= @ptel_activation.real_paygo %>
</p>

<p>
  <strong>Paygo amount:</strong>
  <%= @ptel_activation.paygo_amount %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @ptel_activation.admin_id %>
</p>

<p>
  <strong>Wallet:</strong>
  <%= @ptel_activation.wallet_id %>
</p>

<%= link_to 'Edit', edit_ptel_activation_path(@ptel_activation) %> |
<%= link_to 'Back', ptel_activations_path %>
